<!doctype html>
<html lang="{{ metadata.language }}">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>{{ title or metadata.title }}</title>
		<meta name="description" content="{{ description or metadata.description }}">
		<style>
		body{
			margin: 10px 100px;
			border-sizing: border-box;
		}

		main{
			height: 100vh;
			margin-top: 100px;
			line-height: 2;
		}

		nav{
			display: flex;
			flex-direction: row;
			width: 100%;
			gap: 20px;
			justify-content: space-between;
			align-items: center;
		}

		footer{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			margin-top: auto;
		}

		ul{
			list-style-type:none; display:inline-flex; flex-direction:row; gap:20px;
		}
		</style>
	
	</head>
<body style="background-color: #161A30; color:#B6BBC4; font-family:poppins; font-size: 1rem">

	<header>
		<nav>
			<a href="#" style="text-decoration: none; color:#B6BBC4">
				{KGrim23}
			</a>
			<ul>
				<li><a href="./home.njk">Home</a></li>
				<li><a href="./blog">Blogs</a></li>
				<li><a href="./contact">Contact</a></li>
			</ul>
		</nav>
	</header>

	<main id="skip">
		{{ content | safe }}
	</main>

	<footer> 
	&copy; 2024 Kalaya Grimshaw
	</footer>

</body>
</html>
