---
layout: layouts/base.njk
---

{%- css %}{% include "public/css/index.css" %}{% endcss %}

<h1>My journey to become a Web Developer!</h1>
<p>Here are the summary of what I have learnt throughout and projects that I have created.</P>



{{ content | safe }}
